.banner__bolo{
    width: 100%;
}

.banner__titulo{
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    position:absolute;
    top: 55%;
    left: 13%;
    font-size: 4em;
    color:rgb(115, 13, 209);
    text-shadow: 0.1em 0.1em #333;
}

@media screen and (max-width: 500px){
    .banner__titulo{
        display: none;
    }
    
}