.receitas {
    background-color:wheat;
    display: flex;
    flex-wrap: wrap;
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 3.5em;
}

.receita{
    width: 23%;
    flex-direction: column;
    background-color: white;
    display: flex;
    margin-bottom: 5rem;
    margin-right: 5rem;
    padding-bottom: 1em;
    border-radius: 5px;
    margin-left: 2em;
}

.titulo__todareceita{
    margin-bottom: 1em;
}

@media screen and (max-width: 500px){
    .receita{
        width: 100%
    }
    
}