.receita__conteudo--titulo{
    font-size: 2em;
    font-family: 'MonteCarlo', cursive;
    font-weight: bold;
    color:brown;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.receita__conteudo--texto{
    font-family: 'Atkinson Hyperlegible', sans-serif;
    margin-top: 0.3em;
    margin-bottom: 0.9em;
}

.receita__conteudo{
    padding-left: 1.2em;
}

.botao__receita{
    color: cornsilk;
    background-color: #5e2129;
    padding:0.6em;
    border-radius: 4px;
    text-transform: uppercase;
    border: none;
    transition: all .2s ease-in-out;
}

.botao__receita:hover{
    cursor:pointer;
    background-color: crimson;

}